.about-text p{
    font-family: 'Karla', sans-serif;
    color: black;
    text-align: left;
    font-weight: normal;
    padding-left:60px;
    font-size: 1.25vw;

}

.about-text h1{
    font-family: 'Karla', sans-serif;
    color: #F4CE14;
    text-align: left;
    font-weight: normal;
    padding-left:60px;
    text-align: center;
    font-size: 3vw;

}

.about-text h2{
    font-family: 'Karla', sans-serif;
    color: #495E57;
    text-align: left;
    font-weight: normal;
    padding-left:60px;
    text-align: center;
    font-size: 1.8vw;

}

UnderConstruction{
    size: 0.5%;
}