.container {
    background-color: white;
    height: calc(100vh - 96px - 266px);
    /* width: 100vw; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }



.container-75 {
  background-color: white;
  height: calc(100vh - 96px - 266px);
  /* width: 100vw; */
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.container-50 {
  background-color: white;
  height: calc(100vh - 96px - 266px);
  /* width: 100vw; */
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


  .construction-img{
    width: 30%;
  }

  .construction-list{
    align-items: center;
  }
  
  .construction-title {
    font-size: 45px;
    color: black;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    margin: 0 0;
  }
  @media screen and (max-width: 767px) {
    .container {
      height: calc(100vh - 96px );
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .construction-title {
      font-size: 32px;
      font-weight: 700;
      text-align: center;
      vertical-align: middle;
      margin: 0 0;
    }
  }
  